{% extends 'base.html' %} {% block content %}
<div class="home-frame">
	<div class="home-grid">
		<div class="item-a box-relative flex-home-buttons">
			<h1 class="item-d">/your-space/</h1>
			<img {% load static %}src="{% static "images/bg.png" %}" alt="">
		</div>
		<div class="flex-login item-b">
			<form method="post" action="{% url 'login' %}">
				{% csrf_token %} 
        {% load widget_tweaks %}
        	<div class="field">
					<p class="control has-icons-left">
          {% render_field form.username class+="input is-rounded is-medium signup" placeholder="Username"%}
            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
					</p>
        </div>
        <div class="field">
					<p class="control has-icons-left">
          {% render_field form.password class+="input is-rounded is-medium signup" placeholder="Password"%}
            <span class="icon is-small is-left"><i class="fas fa-unlock"></i></span>
					</p>
        </div>
        <input class="button" type="submit" class="btn" value="login" />
				<input type="hidden" name="next" value="{{ next }}" />
			</form>

			<h3>Don't have an account?</h3>
			<a class="button is-rounded" href="{% url 'signup' %}">Sign up here.</a><br />
		</div>
	</div>
</div>

{% endblock %} 


