{% extends 'base.html' %} {% block content %}
<div class="home-frame">
	<div class="home-grid">
		<div class="item-a box-relative flex-home-buttons">
			<h1 class="item-d">/sw&emacr;t/</h1>
			<img {% load static %}src="{% static "images/bg.png" %}" alt="">
		</div>
		<div class="flex-login item-b">
			<h1>Sign Up</h1>

			{% if error_message %}
			<p class="red-text">{{ error_message }}</p>
			{% endif %}

			<form method="post" action="{% url 'signup' %}">
				<div class="field">
					<p class="control has-icons-left has-icons-right">
          {{form.username.label}} {{form.username}}
            <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
					</p>
				{% csrf_token %} {{form.username.label}} {{form.username}}
				{{form.email.label}} {{form.email}} {{form.password1.label}}
				{{form.password1}} {{form.password2.label}} {{form.password2}}

				<input type="submit" class="btn" value="signup" />
			</form>
		</div>
	</div>
</div>
{% endblock %}
