<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BACK 2 WORK</title>
</head>
<body>
    <a href="">Add Timeslot</a>
    <h2>Hi! Welcome to the app, <span style="color: red;">{{ request.user }}</span>! </h2>
    <a href="{% url 'profile_create' %}">create your profile</a>
    {% for item in userList %}
       
        <p> {{ item.username }} </p>
        <button>add</button>
        
    {% endfor %}
    <br>
    {% for item in timeslot %}
        <a href ="{% url 'detail' item.id %}"><p> {{ item.date }} </p></a>
        <p> {{ item.slot }} </p>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Select Timeslot</button>
        </form>
      {% endfor %}
    
    
    

</body>
</html>