{% extends 'base.html' %} 
{% block content %}

    <div class="home-frame">
          <nav class="level">
            <p class="level-item has-text-centered">
                <img {% load static %} src="{% static "images/yourspace.png" %}" style="height: 120px" alt="">
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info"></a>
            </p>
            <p class="level-item has-text-centered">
                <a href="{% url 'logout' %}" class="link is-info">Sign Out</a>
            </p>
        </nav>
        <div class="dashboard-grid">
            {% comment %} <div class="box-relative flex-home-buttons">
			    <h1 class="item-d-logo">/your-space/</h1>
			    <img {% load static %}src="{% static "images/bg.png" %}" alt="">
		    </div> {% endcomment %}
            <div class="row1">
                <h1 class="welcome-dash">Welcome to /your-space/ <span>{{ request.user }}</span>!</h2>
                <div class="flex-dashboard-buttons">
                    <p><a class="button" href="/user/{{user.id}}/timeslot/"><span class="bookSlots">Edit Your Bookings</span></a></p>
                    <p><a class="button"href="{% url 'userpage' user.id %}">View your profile</a></p>
                </div>
            </div>
            <div class="row2">
                {% if profile.timeslots.count %}
                <h2>Here Are Your Current Bookings:</h2>
            </div>
            <div class="row3">
                {% for timeslot in user.profile.timeslots.all %}
                <div class="card seperation">
                    <header class="card-header">
                        <p class="card-header-title">Date of Booking: {{ timeslot.date }}</p>
                        <button class="card-header-icon" aria-label="more options">
                            <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                        </button>                   
                    </header>                   
                    <div class="card-content slot">
                    <div class="content">
                      <p class="card-header-title">Time Slot of Booking: {{ timeslot.slot }}</p>
                    </div>
                </div>
                {% endfor %}
                {%else%}
                    <p>You currently have no scheduled bookings</p>
                    <p><a class="btn btn-sm btn-outline-primary m-2"  href="/user/{{user.id}}/timeslot/"><span style=>Book more timeslots </span></a></p>
                {% endif%}
            </div>   
        </div>
    </div>
</div>
    
{% endblock %} 