@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

.home-frame {
	padding: 2rem;
	height: 100vh;
}


.flex-home-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-login {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-back-button{
	display: flex;
	justify-content: end;
	margin-top: 1rem;
}

.home-grid-signup {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto 1fr auto;
}

.login-padd {
	margin-bottom: 4rem;
}

.home-grid-login {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto auto auto;
}

.home-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;


}
.item-a {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
}



.cowork {
	object-fit: cover;
	width: 100%;
	max-height: 100%;
	align-self: center;
}


.item-b {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
}

.item-b-signup {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
}

.item-a-signup{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
}

.item-a-logo {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
}

.text-signup {
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 2rem;
}

.item-c {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	font-family: 'Lora', serif;
	font-size: 2rem;
	text-align: center;
	align-self: end;
}

.carousel {
	align-self: center;
	object-fit: cover;
  	width: 100%;
  	max-height: 100%;
}

.item-d {
	position: absolute;
	top: 40%;
	left: 13%;
	font-size: 3rem;
	margin-bottom: 1rem;
	font-family: 'Lora', serif;
}

.item-d-logo {
	position: absolute;
	top: 40%;
	left: 35%;
	font-size: 3rem;
	margin-bottom: 1rem;
	font-family: 'Lora', serif;
}

.item-i {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 4;
}

.item-h {
	font-family: 'Lora', serif;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	font-size: 2.5rem;
	text-align: center;
	align-self: center;
}


.box-relative {
	position: relative;
}

.button.create {
	background-color: #ffee53;
	width: 32%;
	padding: 1.5rem;
	font-size: 1.2vw;
	margin-bottom: 1rem;
	font-family: 'Roboto', sans-serif;
}

.button.login {
	border: 2px #ffee53 solid;
	width: 32%;
	font-family: 'Roboto', sans-serif;
}


@media (max-width: 575.98px) {
	.home-grid {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr 1fr auto;
	}

	.item-a {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
	}

	.item-c {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		align-self: center;
		padding:2rem;
	}

	.carousel {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
	}

	.item-b {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 4;
	}

	.item-h {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 5;
	}

	.button.create {
		font-size: 2.2vw;
	}
}


