{% extends 'base.html' %}
{% block content %}
    <div class="home-frame">
        <div class="dashboard-grid">
            <div class="box-relative flex-home-buttons">
			    <h1 class="item-d-logo">/your-space/</h1>
			    <img {% load static %}src="{% static "images/bg.png" %}" alt="">
		    </div>
            <div class="scheduled-slots">
                <h1>Times you've booked</h1>
                {% if profile.timeslots.count %}
                    {% for timeslot in user.profile.timeslots.all %}
                    <header class="card-header">
                        <p class="card-header-title">Date of Booking: {{ timeslot.date }}</p>
                        <button class="card-header-icon" aria-label="more options">
                            <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                        </button>                   
                    </header>                   
                    <div class="card-content slot">
                        <div class="content">
                            <p class="card-header-title">Time Slot of Booking: {{ timeslot.slot }}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                    <form action="{% url 'unassoc_timeslot' user.id timeslot.id %}" method="post">
                        {% csrf_token %}
                        <button class="button" type="submit" class="btn">Remove</button>
                    </form>
                </footer>
                {% endfor %}
                {%else%}
                <p>No Scheduled Slots</p>
                {% endif %}
            </div>
            <div class="avilabletime-slots">
                <h3>Available Time slots</h3>
                    {% if timeslot.count %}
                        {% for timeslot in timeslot.all %}
                        <header class="card-header">
                            <p class="card-header-title">Date of Booking: {{ timeslot.date }}</p>
                            <button class="card-header-icon" aria-label="more options">
                                <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                            </button>                   
                        </header>                   
                        <div class="card-content slot">
                            <div class="content">
                                <p class="card-header-title">Time Slot of Booking: {{ timeslot.slot }}</p>
                            </div>
                        </div>
                    <footer class="card-footer">
                        <form action="{% url 'assoc_timeslot' user.id timeslot.id %}" method="post">
                            {% csrf_token %}
                            <button class="button" type="submit">add</button>
                        </form>
                    </footer>
                {% endfor %}
                {% else %} 
                <h3>No Timeslots Available</h3>
                {% endif %}
            </div>
            <p><a class="" href="{% url 'index'%}"><span>Back to the Dashboard</span></a></p>
        </div>
    </div>
{% endblock %}