<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
	<div>
		{% for photo in profile.photo_set.all %}
		<img src="{{photo.url}}">
		{% empty %}
		<div>No Photo Uploaded</div>
		{% endfor %}
	</div>
	  
	  <form action="{% url 'add_photo' user.id %}" enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		<input type="file" name="photo-file">
		<br><br>
		<input type="submit" class="btn" value="Upload Photo">
	  </form>
	<div class="container mx-auto">
	    <div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
		    	<div class="card p-4">
			    	<h4 class="card-title font-weight-bold text-center">Hello, {{ user.username|title }}</h4>
			      	<hr>
			    	<div class="card-text">
			    		<p class="text-muted mb-0" style="font-size: 12px">Username:</p>
			    		<p>{{ user.username }}</p>
			    		<p class="text-muted mb-0" style="font-size: 12px">Name:</p>
				  		<p>{{ user.first_name }} {{ user.last_name }}</p>
				  		<p class="text-muted mb-0" style="font-size: 12px">Email:</p>
				  		<p>{{ user.email }} </p><br>
                        <p>Role: {{ profile.role }} </p>
                          <div class="text-right">
							<a href="{% url 'profile_edit' user.id %}">Edit Profile</a>
						</div>
			        </div>
                    <hr>
		    	</div>

		  	</div>
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
		    </div>
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
		    	<div class="row">
		    		<div class="col-6 my-auto">
		    			<h2 class="font-weight-bold pt-4">Scheduled Slots</h2>
                        {% for timeslot in user.profile.timeslots.all %}
                            <li> {{ timeslot.date }} | {{ timeslot.slot }} </li>
                        {% endfor %}
                        
                        
                        
                        <hr>
                        
                        <h2 class="font-weight-bold pt-4">All Slots</h2>

                        {% for time in timeslots %}
                            <li> {{ time.date }} | {{ time.slot }}  </li>
                            <form action="{% url 'assoc_timeslot' user.id time.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">add</button>
                            </form>
                            
                        {% endfor %}
		    		</div>
		    	</div>
		      	<br>
		      	<div class="row">
                
                
                    <hr>
		        </div>
		    </div> 
		</div>
	</div>
    
    <hr>
    
</body>
</html>