{% extends 'base.html' %} {% block content %}
    
	<div>
	{% for photo in profile.photo_set.all %}
		<div>
		<figure class="image is-128x128">
			<img class="is-rounded" src="{{photo.url}}">
		  </figure>
		</div><br>
		<div>
		  <form action="{% url 'delete_photo' user.id %}" method="POST">
			{% csrf_token %}
			<input type="submit" class="btn" value="Delete Photo">
		  </form>
		</div>
		{% empty %}
		<div>No Photos Uploaded</div>
		<div>
			<form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST">
			  {% csrf_token %}
			  <input type="file" name="photo-file">
			  <br>
			  <input type="submit" class="btn" value="Upload Photo">
			</form>
		</div>
		{% endfor %}
	  	</div>
	
	
	
	
	<div class="container mx-auto">
	    <div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
		    	<div class="card p-4">
			    	<h4 class="card-title font-weight-bold text-center">Hello, {{ user.username|title }}</h4>
			      	<hr>
			    	<div class="card-text">
						{% if user.first_name == '' %}
			    		    <p class="text-muted mb-0" style="font-size: 12px">Username: {{ user.username }}</p>
			    		    <p class="text-muted mb-0" style="font-size: 12px">Email: {{ user.email }} </p><br>
						    <a href="{% url 'profile_edit' user.id %}">Complete registration</a>
						
						{% else %}

						    <p class="text-muted mb-0" style="font-size: 12px">Username: {{ user.username }}</p>
			    		    <p class="text-muted mb-0" style="font-size: 12px">Name: {{ user.first_name }} {{ user.last_name }}</p>
				  		    <p class="text-muted mb-0" style="font-size: 12px">Email: {{ user.email }} </p>
							{% if profile.bio != '' %}
							    <p class="text-muted mb-0" style="font-size: 12px">Bio: {{ profile.bio }} </p>
							{% endif %}
						    {% if profile.role != '' %}
							    <p>Role: {{ profile.role }} </p>
							{% endif %}
							{% if profile.linkedin != '' %}
							    <p>Linkedin : <a href="{{ profile.linkedin }}" target="_blank">{{ profile.linkedin }}</a></p>
							{% endif %}

						
						    <a href="{% url 'profile_edit' user.id %}">Edit Profile</a>
						{% endif %}
                          <!-- <div class="text-right">
							<a href="{% url 'profile_edit' user.id %}">Edit Profile</a>
						</div> -->
			        </div>
                    <hr>
		    	</div>

		  	</div>
		    
    <hr>
	<p><a class="" href="{% url 'index'%}"><span>Back to the Dashboard</span></a></p>
</body>
</html>

{% endblock %} 