{% extends 'base.html' %} {% block content %}
    <br><br>
	<div>
		{% for photo in profile.photo_set.all %}
		<div></div>
		<figure class="image is-128x128">
			<img class="is-rounded" src="{{photo.url}}">
		  </figure></div>
		{% empty %}
		<div>No Photos Uploaded</div>
		{% endfor %}
	  </div>
	  <div>
	  <form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		<input type="file" name="photo-file">
		<br><br>
		<input type="submit" class="btn" value="Upload Photo">
	  </form>
	  </div>
	<div class="container mx-auto">
	    <div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
		    	<div class="card p-4">
			    	<h4 class="card-title font-weight-bold text-center">Hello, {{ user.username|title }}</h4>
			      	<hr>
			    	<div class="card-text">
			    		<p class="text-muted mb-0" style="font-size: 12px">Username:</p>
			    		<p>{{ user.username }}</p>
			    		<p class="text-muted mb-0" style="font-size: 12px">Name:</p>
				  		<p>{{ user.first_name }} {{ user.last_name }}</p>
				  		<p class="text-muted mb-0" style="font-size: 12px">Email:</p>
				  		<p>{{ user.email }} </p><br>
                        <p>Role: {{ profile.role }} </p>
                          <div class="text-right">
							<a href="{% url 'profile_edit' user.id %}">Edit Profile</a>
						</div>
			        </div>
                    <hr>
		    	</div>

		  	</div>
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
		    </div>
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
		    	<div class="row">
		    		<div class="col-6 my-auto">
		    			<h2 class="font-weight-bold pt-4">Scheduled Slots</h2>
						{% if profile.timeslots.count %}
                        {% for timeslot in user.profile.timeslots.all %}
                            <li> {{ timeslot.date }} | {{ timeslot.slot }} </li>
							<form action="{% url 'unassoc_timeslot' user.id timeslot.id %}" method="post">
								{% csrf_token %}
							  <button type="submit" class="btn">Remove</button>
							</form>
                        {% endfor %}
						{%else%}
						<li>No scheduled slots</li>
                        {% endif%}
                        
                        
                        <hr>
                        
                        <h2 class="font-weight-bold pt-4">All Slots</h2>

                        {% for time in timeslots %}
                            <li> {{ time.date }} | {{ time.slot }}  </li>
                            <form action="{% url 'assoc_timeslot' user.id time.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">add</button>
                            </form>
                            
                        {% endfor %}
		    		</div>
		    	</div>
		      	<br>
				  <h3>Available Time slots</h3>
				  {% if timeslot.count %}
					{% for timeslot in timeslot.all %}
					<span>{{ timeslot.date}}</span> {{ timeslot.slot}}
						  </span>
						</div>
						<div class="card-action">
						  <form action="{% url 'assoc_timeslot' user.id timeslot.id %}" method="post">
							{% csrf_token %}
							<button type="submit" class="btn">Add</button>
						  </form>
						</div>
					  </div>
					{% endfor %}
				  {% else %}
					<h5>No Timeslots  Available</h5>
				  {% endif %}
				</div>
                
                
                    <hr>
		        </div>
		    </div> 
		</div>
	</div>
    
    <hr>
    
</body>
</html>

{% endblock %} 